<main>
<button class="denonciatorBtn" (click)="initGame()">Sélectionner une personne</button>

<section>
<div [class.visibility]='this.endGame'>
<p [class.visibility]='this.gameRunning'>Personne n’a été sélectionné actuellement 👀</p>


<p [class.visibility]='!this.gameRunning'><strong>{{ this.randomPerson?.lastName }}</strong> ✨<br>
<span [class.visibility]='this.randomPerson?.genre === "Homme"'>Tu es la grande gagnante</span>
<span [class.visibility]='this.randomPerson?.genre === "Femme"'>Tu es le grand gagnant</span></p>
</div>

<p [class.visibility]='!this.endGame'>Tout le monde est passé, rafraichir la page pour recommencer...</p>
</section>
</main>